<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Smart Reality</title>
</head>
<body>

{#<input type="file" accept="image/*;capture=camera">#}
<video autoplay></video>

<script>
const constraints = {
    video: true
}

const video = document.querySelector('video');

function handleSuccess(stream) {
  video.srcObject = stream;
}

function handleError(error) {
  console.error('Reeeejected!', error);
}

navigator.mediaDevices.getUserMedia(constraints).
  then(handleSuccess).catch(handleError);
</script>

</body>
</html>